n8n/backup/workflows/Assistant_data_indexing.json
{
  "name": "Assistant data indexing",
  "nodes": [
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Input').first().json.googleSheeet.docUrl }}",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Input').first().json.googleSheeet.sheetName }}",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        900,
        160
      ],
      "id": "4680b5d8-8b57-44ea-92ca-26a4064fc0b7",
      "name": "Google Sheets",
      "credentials": {
        "googleApi": {
          "id": "XlFwzHsP62pz7O9I",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        60,
        160
      ],
      "id": "d32a0711-91b0-43c9-8315-74c6e5965ccc",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    kernelMemory: {\n      baseUrl: 'http://kernel_service:9001'\n    },\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        580,
        160
      ],
      "id": "112b350e-a8b8-464a-b439-0c8cf6b85679",
      "name": "Config"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    pathwayUrl: 'https://fhir.aera.health/fhir/R4/PlanDefinition/507faf19-f6bf-4257-877a-db170acde737',\n    name: 'Health Promotion',\n    index: 'interventionsV1',\n    googleSheeet: {\n      docUrl: 'https://docs.google.com/spreadsheets/d/16ZsbxZSFGToFrWfVamC2LcwIP5oL3FUl0dXX_sPcOSU/edit?usp=sharing',\n      sheetName: 'Copy of Basic Testing Model (AI Generated)'\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        280,
        160
      ],
      "id": "dc7ea7e6-e94e-4984-b499-3cbb74671e50",
      "name": "Input"
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(x => {\n  const item = x.json;\n  \n  return {\n    name: item['Intervention Name'],\n    // fixed for this DB set\n    phase: 'Diagnosis confirmed',\n    // no url (ID) referenced to real intervention in system\n    url: '',\n    type: item['Type'] ?? '',\n    // should be removed in future\n    symptoms: [],\n    objective: item['Goal'] ?? '',\n    inclusionTrigger: `Anamnesis Inclusion Criteria: ${item['Anamnesis Inclusion Criteria']} . Biomarkers Inclusion Criteria (Thresholds): ${item['Biomarkers Inclusion Criteria (Thresholds)']}`,\n    exclusionTrigger: `Anamnesis Exclusion Criteria: ${item['Anamnesis Exclusion Criteria']}. Biomarker Exclusion Criteria: ${item['Biomarker Exclusion Criteria']}`,\n    options: [],\n    frequency: item['Frequency'] ?? '',\n    dossingInstructions: '',\n    review: '',\n    benefit: '',\n    supportingActivities: '',\n    description: item['Description'] ?? '',\n    dosages: [\n      {\n        dosage: item['Dosage'] ?? '',\n        inclusionTrigger: '',\n        exclusionTrigger: ''\n      }\n    ],\n    scientificLiteratureSupport: item['Scientific Literature Support'] ?? '',\n    duration: item['Duration'] ?? ''\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        160
      ],
      "id": "8c435d26-b77e-4eb7-8a62-44efe7ac8ef8",
      "name": "Map interventions"
    },
    {
      "parameters": {
        "jsCode": "const input = $('Input').first().json;\n\nreturn [\n  {\n    url: input.pathwayUrl,\n    name: input.name,\n    treatments: $input.all().map(x => x.json)\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1500,
        160
      ],
      "id": "e34d23bb-ff9f-4651-bca3-a186841ddbcb",
      "name": "Map pathway"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Config').first().json.kernelMemory.baseUrl }}/upload",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "index",
              "value": "={{ $json.index }}"
            },
            {
              "name": "documentId",
              "value": "={{ $json.documentId }}"
            },
            {
              "name": "tags",
              "value": "=pathwayUrl:{{ $json.pathwayUrl }}"
            },
            {
              "name": "tags",
              "value": "=name:{{ $json.name }}"
            },
            {
              "name": "url",
              "value": "=url:{{ $json.url }}"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file0",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2720,
        160
      ],
      "id": "37e05c41-6e05-40c8-874d-70299b5b77ab",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "return $input.first().json.treatments.map(item => {\n  return {\n    name: item.name,\n    benefit: item.benefit,\n    objective: item.objective,\n    exclusionTrigger: item.exclusionTrigger,\n    inclusionTrigger: item.inclusionTrigger,\n    description: item.description\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1820,
        160
      ],
      "id": "cb0131f1-490e-4827-9b1a-0e14832a708d",
      "name": "Map index intervention model"
    },
    {
      "parameters": {
        "operation": "toJson",
        "mode": "each",
        "options": {
          "fileName": ""
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        2080,
        160
      ],
      "id": "e26fb1c1-4c12-4c92-80b7-269bcaac91a7",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "jsCode": "function isValidChar(c) {\n    return /^[a-zA-Z0-9_.-]$/.test(c);\n}\n\nfunction replaceInvalidChars(value) {\n    if (value == null) {\n        return '';\n    }\n\n    return Array.from(value)\n        .map(c => (isValidChar(c) ? c : '_'))\n        .join('');\n}\n\nreturn $input.all().map((x, i) => {\n  const pathway = $('Map pathway').first().json;\n  const intervention = pathway.treatments[i];\n  let documentId = replaceInvalidChars(`medication_${intervention.name}`.toLowerCase());\n  const index = $('Input').first().json.index;\n\n  return {\n    json: {\n      documentId,\n      jsonFileName: documentId + '.json',\n      pathwayUrl: pathway.url,\n      name: intervention.name,\n      url: intervention.url,\n      index \n    },\n    binary: x.binary\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2380,
        160
      ],
      "id": "28603acb-0a73-44eb-a223-11fbbc04aae4",
      "name": "Metadata"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Map interventions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map interventions": {
      "main": [
        [
          {
            "node": "Map pathway",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map pathway": {
      "main": [
        [
          {
            "node": "Map index intervention model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map index intervention model": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Metadata": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3ff85e21-e2cc-4d8f-9cee-906c4deea927",
  "meta": {
    "instanceId": "558d88703fb65b2d0e44613bc35916258b0f0bf983c5d4730c00c424b77ca36a"
  },
  "id": "jWfgBBZx7WW0fVLC",
  "tags": []
}