n8n/backup/workflows/Assistant_data_indexing__Levitas_TRT_Pathway_Breakdown_.json
{
  "name": "Assistant data indexing (Levitas TRT Pathway Breakdown)",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        60,
        160
      ],
      "id": "548ca040-611e-4345-b093-d9067879d29d",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    kernelMemory: {\n      baseUrl: 'http://kernel_service:9001'\n    },\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        540,
        160
      ],
      "id": "1e8047d8-464e-4cc4-9ead-c0a730834249",
      "name": "Config"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    index: 'interventionsV1',\n    url: 'https://fhir.aera.health/fhir/R4/PlanDefinition/2124af55-22b3-44e3-abeb-dfa750e3ea41',\n    name: 'Testosterone Therapy',\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        280,
        160
      ],
      "id": "e3cf9c29-f738-4e32-869f-90910af3937b",
      "name": "Input"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Config').first().json.kernelMemory.baseUrl }}/upload",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "index",
              "value": "={{ $json.index }}"
            },
            {
              "name": "documentId",
              "value": "={{ $json.documentId }}"
            },
            {
              "name": "tags",
              "value": "=pathwayUrl:{{ $json.pathwayUrl }}"
            },
            {
              "name": "tags",
              "value": "=name:{{ $json.name }}"
            },
            {
              "name": "url",
              "value": "=url:{{ $json.url }}"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file0",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4980,
        140
      ],
      "id": "3e728c2a-66b0-455e-b8e6-c445cf6c483c",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "return $('Map treatments').all().map(x => {\n  const item = x.json;\n  \n  return {\n    name: item.name,\n    benefit: item.benefit,\n    objective: item.objective,\n    exclusionTrigger: item.exclusionTrigger,\n    inclusionTrigger: item.inclusionTrigger,\n    dosages: item.dosages,\n    description: item.description\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4140,
        140
      ],
      "id": "9581edb8-fe60-4e96-8722-54b99316941c",
      "name": "Map index intervention model"
    },
    {
      "parameters": {
        "operation": "toJson",
        "mode": "each",
        "options": {
          "fileName": ""
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        4420,
        140
      ],
      "id": "488128d7-5529-46ec-9230-b7f6c561bd2e",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "jsCode": "function isValidChar(c) {\n    return /^[a-zA-Z0-9_.-]$/.test(c);\n}\n\nfunction replaceInvalidChars(value) {\n    if (value == null) {\n        return '';\n    }\n\n    return Array.from(value)\n        .map(c => (isValidChar(c) ? c : '_'))\n        .join('');\n}\n\nreturn $input.all().map((x, i) => {\n  const pathway = $('Pathway').first().json;\n  const intervention = pathway.treatments[i];\n  let documentId = replaceInvalidChars(`medication_${intervention.name}`.toLowerCase());\n  const index = $('Input').first().json.index;\n\n  return {\n    json: {\n      documentId,\n      jsonFileName: documentId + '.json',\n      pathwayUrl: pathway.url,\n      name: intervention.name,\n      url: intervention.url,\n      index \n    },\n    binary: x.binary\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4700,
        140
      ],
      "id": "f44d8d90-3537-45c7-b9a6-be47f64e83a0",
      "name": "Metadata"
    },
    {
      "parameters": {
        "content": "## Levitas TRT Pathway Breakdown\n[Link](https://docs.google.com/spreadsheets/d/11sWacBb5frDQD8IqsruevzKpcoCD2Elt2E4XHkswvbg/edit?usp=sharing)",
        "height": 500,
        "width": 5180
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "aeee7e5c-5808-4452-b659-54644bf38550",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "name": "={{ $('Input').first().json.url + '.json' }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "13gNzGBlb92BhyBQ10pcx1w6D0PJqqVXq",
          "mode": "list",
          "cachedResultName": "health-plans",
          "cachedResultUrl": "https://drive.google.com/drive/folders/13gNzGBlb92BhyBQ10pcx1w6D0PJqqVXq"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        3800,
        140
      ],
      "id": "70e934d8-dafd-4778-b661-cae91b227da2",
      "name": "Google Drive",
      "credentials": {
        "googleApi": {
          "id": "XlFwzHsP62pz7O9I",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toJson",
        "options": {
          "format": true
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        3500,
        140
      ],
      "id": "f7b701b5-708e-4de9-baf5-92a0bae81cfc",
      "name": "Convert to File1"
    },
    {
      "parameters": {
        "jsCode": "const input = $('Input').first().json;\n\nreturn [\n  {\n    url: input.url,\n    name: input.name,\n    treatments: $input.all().map(x => x.json)\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3200,
        140
      ],
      "id": "fdfa2298-3f0c-498d-ae7d-f202dd2ca442",
      "name": "Pathway"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/11sWacBb5frDQD8IqsruevzKpcoCD2Elt2E4XHkswvbg/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "TRT Treatment (suggestion)",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2620,
        140
      ],
      "id": "d028cd8e-e085-4ce3-98fb-ba57d800406e",
      "name": "Google Sheets",
      "executeOnce": true,
      "credentials": {
        "googleApi": {
          "id": "XlFwzHsP62pz7O9I",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "resource": "fileFolder",
        "queryString": "={{ $('Input').first().json.url }}",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "13gNzGBlb92BhyBQ10pcx1w6D0PJqqVXq",
            "mode": "list",
            "cachedResultName": "health-plans",
            "cachedResultUrl": "https://drive.google.com/drive/folders/13gNzGBlb92BhyBQ10pcx1w6D0PJqqVXq"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        800,
        160
      ],
      "id": "830caa5d-072e-45bb-b8fa-ccc254a1abfb",
      "name": "Google Drive2",
      "alwaysOutputData": true,
      "credentials": {
        "googleApi": {
          "id": "XlFwzHsP62pz7O9I",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "deleteFile",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Google Drive2').first().json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2240,
        320
      ],
      "id": "8be30d68-6959-4f11-8e23-4252af5f8ad9",
      "name": "Google Drive3",
      "credentials": {
        "googleApi": {
          "id": "XlFwzHsP62pz7O9I",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "68a51bb5-252d-4f45-9000-e4bb99ac1a08",
              "leftValue": "={{ $json.isEmpty() }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1060,
        160
      ],
      "id": "4a04c6d8-f27d-4f49-adae-7a4d6787db97",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "function mapIntervention(item) {\n  const result = {\n    name: item['NAME'],\n    phase: item['PHASE'] ?? '',\n    // no url (ID) referenced to real intervention in system\n    url: '',\n    type: item['TYPE'] ?? '',\n    objective: item['OBJECTIVE'] ?? '',\n    inclusionTrigger: item['INCLUSION TRIGGER'] ?? '',\n    exclusionTrigger: item['EXCLUSION TRIGGER'] ?? '',\n    options: (item['OPTIONS'] ?? '').split(',').map(x => x.trim()).filter(x => !!x),\n    frequency: item['FREQUENCY'] ?? '',\n    dossingInstructions: item['DOSSING INSTRUCTIONS'] ?? '',\n    review: item['REVIEW'] ?? '',\n    benefit: item['BENEFIT'] ?? '',\n    supportingActivities: item['SUPPORTING ACTIVITIES'] ?? '',\n    description: item['DESCRIPTION'] ?? '',\n    dosages: [],\n    // dosages: [\n    //   {\n    //     dosage: item['Dosage'] ?? '',\n    //     inclusionTrigger: '',\n    //     exclusionTrigger: ''\n    //   }\n    // ],\n    scientificLiteratureSupport: '',\n    duration: ''\n  };\n\n  const dosages = item['DOSAGE'];\n  \n  if (dosages && dosages.trim() !== '-') {\n    result.dosages = [{\n        dosage: item['DOSAGE'] ?? '',\n        option: '',\n        frequency: '',\n        inclusionTrigger: '',\n        exclusionTrigger: ''\n    }];\n  }\n  \n  return result;\n}\n\nfunction mapDosage(item) {\n  return {\n    dosage: item['DOSAGE'] ?? '',\n    option: item['OPTION'] ?? '',\n    frequency: item['FREQUENCY'] ?? '',\n    inclusionTrigger: item['INCLUSION TRIGGER'] ?? '',\n    exclusionTrigger: item['EXCLUSION TRIGGER'] ?? ''\n  };\n}\n\nconst items = $input.all().map(x => x.json);\nconst results = [];\nlet lastIntervention;\n\nfor (let item of items) {\n  if (item['NAME']) {\n    lastIntervention = mapIntervention(item);\n    results.push(lastIntervention);\n  }\n  else {\n    lastIntervention.dosages.push(\n      mapDosage(item)\n    );\n  }\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2900,
        140
      ],
      "id": "7eef3840-c4b8-43c5-af77-b71c1caf568d",
      "name": "Map treatments"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1260,
        320
      ],
      "id": "5b274f02-5f20-4dc6-bc57-849909737d24",
      "name": "Google Drive1",
      "credentials": {
        "googleApi": {
          "id": "XlFwzHsP62pz7O9I",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1480,
        320
      ],
      "id": "905c48d4-8384-4be0-b877-135c4a2dbadd",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "jsCode": "function isValidChar(c) {\n    return /^[a-zA-Z0-9_.-]$/.test(c);\n}\n\nfunction replaceInvalidChars(value) {\n    if (value == null) {\n        return '';\n    }\n\n    return Array.from(value)\n        .map(c => (isValidChar(c) ? c : '_'))\n        .join('');\n}\n\nreturn $input.first().json.data[0].treatments.map(x => {\n  return {\n    documentId: replaceInvalidChars(`medication_${x.name}`.toLowerCase())\n  }\n});;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1740,
        320
      ],
      "id": "9e351d01-f810-430b-8aae-8e208becd9bb",
      "name": "Map to docIds"
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "={{ $('Config').first().json.kernelMemory.baseUrl }}/documents",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "index",
              "value": "={{ $('Input').first().json.index }}"
            },
            {
              "name": "documentId",
              "value": "={{ $json.documentId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        320
      ],
      "id": "146f2a42-3e00-461e-8f70-9148228244ee",
      "name": "Delete documents"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Google Drive2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map index intervention model": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Metadata": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Map index intervention model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File1": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pathway": {
      "main": [
        [
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Map treatments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive2": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Drive1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive3": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map treatments": {
      "main": [
        [
          {
            "node": "Pathway",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive1": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Map to docIds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map to docIds": {
      "main": [
        [
          {
            "node": "Delete documents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete documents": {
      "main": [
        [
          {
            "node": "Google Drive3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "93d91e97-824b-4f2d-9c4d-ee3f83c8c665",
  "meta": {
    "instanceId": "558d88703fb65b2d0e44613bc35916258b0f0bf983c5d4730c00c424b77ca36a"
  },
  "id": "4tG1iEooBRmgRmQM",
  "tags": []
}